/* © 2023 Misono Network */

@charset "utf-8";

/* Fonts */

@font-face {
    font-family: "Saitamaar";
    src: url("Saitamaar.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("RobotoMono-Regular.ttf");
    font-display: swap;
}

/* <body> */

body {
    font-family: "Roboto Mono";
    background: #251621;
    margin: 8px;
}

/* <div>, <p> */

div, p {
    color: white;
    white-space: pre;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

.tag {
    color: #d6b9a8;
}

#art {
    font-family: "Saitamaar";
    color: #aad7ea;
    white-space: pre;
    float: left;
    font-weight: bold;
    width: min-content;
    height: min-content;
}

#info {
    float: left;
    width: min-content;
    height: min-content;
}

/* <a> tag */

a:link {
    color: #ce9178;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ce9178;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #aad7ea;
    background-color: transparent;
    text-decoration: underline;
}